*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #000000 #F2FDFF;
}

  
*::-webkit-scrollbar {
    width: 4px;
    width: 4px;
}

*::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: white;
}
  
*::-webkit-scrollbar-track:hover {
    background-color: white;
}
  
*::-webkit-scrollbar-track:active {
    background-color: white;
}
  
*::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #000000;
}
  
*::-webkit-scrollbar-thumb:hover {
    background-color: #27411E;
}
  
*::-webkit-scrollbar-thumb:active {
    background-color: #2F4F24;
}

a:not(.info-acc a){
    color: white;
    text-decoration: none;
}

body{
    overflow-x: hidden;
}

/* HEADER.PHP STYLES */

.header{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
    padding-right: 40px;
    background-color: green;
    color: white;
}

.nav{
    width: 35vw;
    height: 10vh;
    display: flex;
    justify-content: right;
    gap: 100px;
    align-items: center;
}


.nav .list-items{
    list-style: none;
    display: flex;
    gap: 20px;
}

.btn:hover{
    text-decoration: underline;
}

/* HEADER.PHP STYLES */


/* LOGIN AND REGISTER FROM STYLES */

.center-form{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.error{
    width: 475px;
    height: 25px;
    text-align: center;
    display: block;
    margin-bottom: 15px;
    position: absolute;
    top: 20%;
}

.bad-info{
    background-color: rgb(255, 164, 164);
    color: red;
}

.good-info{
    background-color: rgb(113, 255, 113);
    color: green;
}

.form{
    width: 480px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    gap: 50px;
}

.input-element{
    display: flex;
}

.name-input, .surrname-input, .register-passwd-input{
    width: 215px;
    height: 25px;
    margin: 5px;
}

.form .input:not(.name-input,.surrname-input, .register-passwd-input){
    width: 440px;
    height: 25px;
    margin: 5px;
}

.show-element{
    margin-right: 350px;
}

.form-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.register-btn{
    margin-top: 25px;
    width: 80px;
    height: 35px;
    border: none;
    outline: none;
    color: white;
    background-color: green;
    cursor: pointer;
}

.info-acc{
    margin-top: 100px;
    color: gray;
}

/* LOGIN AND REGISTER FROM STYLES */

/* CREATE.PHP STYLES */

.main-create{
    width: 100vw;
    height: 120vh;
    padding: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.create-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 450px;
    height: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 5vh;
}

.input:not(.photo,.numer){
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 10px;
}

.title{
    width: 400px;
    height: 25px;
    font-weight: bold;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    margin-bottom: 15px;
}

.cena,.title-auction{
    width: 400px;
}

#opis{
   resize: none;
   width: 400px;
   height: 15vh;
   outline: none;
   border: 1px solid black;
   padding: 5px;
}

.submit{
    width: 150px;
    height: 50px;
    color: white;
    font-weight: bold;
    background-color: green;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.submit:hover{
    background-color: rgb(1, 159, 1);
}

.photo{
    display: inline-block;
    padding: 8px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: green;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 400px;
}

/* CREATE.PHP STYLES */

.main{
    margin-top: 50px;
}

.product-section{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.auction-product{
    width: 75vw;
    height: 25vh;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    padding: 15px;
}

.auction-product:hover{
    background-color: #eee;
    cursor: pointer;
}

.img-auction{
    width: 15vw;
    height: 20vh;
    grid-column: 1/5;
    grid-row: 1/13
}

.auction-product .title-auction{
    grid-column: 4/9;
    grid-row: 1/2;
    font-weight: bold;
    font-size: 1.25rem;
}

.auction-product .cena{
    max-width: 150px;
    grid-column: 12/13;
    grid-row: 1/3;
    font-weight: bold;
}

.btn-buy{
    grid-column: 12/13;
    grid-row: 9/10;
    background-color: green;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
    text-align: center;
    padding: 10px 15px;
}

.btn-buy.active{
    display: none;
}

.btn-buy:hover{
    background-color: rgb(3, 172, 3);
}

.time-info{
    grid-column: 6/9;
    grid-row: 9/10;
    font-weight: bold;
}

.img-section.active{
    display: block;
}

.img-section{
    display: none;
}

.img-section img{
    width: 35vw;
    height: 45vh;
}

.info-auction-section{
    grid-column: 8/12;
    grid-row: 2/8;
    width: 40vw;
    height: 70vh;
    background-color: #eee;
}

.info-auction-section .cena{
    font-weight: bold;
}

.image-sec{
    width: 42vw;
    height: 70vh;
    background-color: #eee;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-column: 2/7;
    grid-row: 2/8;
}

.img-auction-section{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.backward-btn, 
.forward-btn{
    width: 2.5vw;
    height: 45vh;
    outline: none;
    border: none;
    background-color: #71b056;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

.backward-btn{
    border-radius: 10px 0px 0px 10px;
}

.forward-btn{
    border-radius: 0px 10px 10px 0px;
}

.auction{
    width: 100vw;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
}

.pagination-img{
    grid-column: 3/5;
    grid-row: 8/9;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 40vw;
    height: 10vh;
    padding: 5px;
    overflow-y: hidden;
    overflow-x: scroll;
    margin-top: 25px;
}

.pagination-img::-webkit-scrollbar {
    height: 5px;
}

.img-pagination img{
    width: 7.5vw;
    height: 6vh;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
}